{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <!-- Add your CSS files here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'blog:post_list' %}">My Blog</a></h1>

            <a href="{% url 'blog:post_list' %}">Home</a>
            <!-- Add more navigation links here -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default content can go here, but it's usually left empty -->
        {% endblock %}
    </main>



    <div id="sidebar">
        
        <h2>My Blog</h2>
        <!----count total post---->
        <p>
            This is my blog
            I've written {% total_posts %} post so far
        </p>

        <!----RRS FEED---->
        <p>
            <a href="{% url 'blog:post_feed' %}">
                Subscribe to my RSS feed
            </a>
        </p>

        <!----show latest post---->
        <h3>Latest Posts</h3>
        {% show_latest_posts 3 %}

        <!----most commented post---->
        <h3>Most Commented Posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <footer>
        <p>&copy; 2025 My Blog</p>
    </footer>
</body>
</html>